/* RESET */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

img {
  width: 100%;
}

  @media only screen and (max-width: 600px) {
    /* Code goes in here */

  }

  /* Fonts */
    /* Fonts to be used in Gucci Website */
    /* font-family: 'Noto Sans', sans-serif; */

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-row {
  display: flex;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-justify-end {
  display: flex;
  justify-content: flex-end;
}

.flex-grow {
  flex-grow: 1;
}

.tile {
  width: 25%;
  height: 450px;
  background-color: #E7E7E7;
  border: 1px solid white;
}

.tile-main-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  width: 200px;
  height: 200px;
}
